.genero {
    text-align: center;
    padding: 32px;
    background-blend-mode: multiply;
    position: relative;
}

.genero h3 {
    font-size: 20px;
    color: #373531;
    border-bottom: 2px solid;
    display: inline-block;
    padding-bottom: 6px;
}

.genero .doramas {
   display: flex;
   justify-content: center;
   margin-top: 32px;
   flex-wrap: wrap;
}

.input-cor {
    position: absolute;
    top: 30px;
    right: 30px;
}