.botao {
    border: none;
    padding: 24px;
    border-radius: 10px;
    background-color: #ef95be;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    margin: 32px 0;
}

.botao:hover {
    color: #373531;
}