:root{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.campo {
    margin: 18px 0;
}

.campo label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 600;
    color: #373531;
}

.campo input {
    border: none;
    background-color: #fff;
    width: 100%;
    padding: 24px;
    box-sizing: border-box;
}

.campo input::placeholder {
    font-size: 16px;
    color: #A4A4A4;
}

.campo input:focus {
    outline: 2px solid #ef95be; /* Remove o contorno padrão do foco */
}

.campo-color input {
    background: transparent;
    height: 40px;
    padding: 0;
}