.banner {
    background-color: #f8e3ec;
    text-align: center;
    width: 100%;
}

.banner img {
    /* width: auto; */
    height: 200px;
    display: block;
}

@media (min-width: 768px) {
    .banner img {
        width: auto;
        height: 250px;
        display: block;
    } 
}

@media (min-width: 1200px) {
    .banner img {
        width: 100%;
        height: auto;
    }
}