.banner {
    width: 100%;
    height: 280px;
    background-color: #f8e3ec;
    background-image: url('../../public/imagens/banner.jpg');
    background-size: contain;
}

@media (min-width: 768px) {
    .banner img {
        width: auto;
        height: 250px;
        display: block;
    } 
}

@media (min-width: 1200px) {
    .banner img {
        width: 100%;
        height: auto;
    }
}